.pt-packages table td, th{
    border: 0.1em solid black;
    border-collapse: collapse;
}

body{
    font-family: 'Aceme', sans-serif;
    background-color: darkblue;
    color: white;
    text-shadow: 1px 1px black;
}

h1{
    font-family: 'Alegreya Sans SC', Arial;
    font-size: 5em;
    text-shadow: 5px 5px hsl(0, 0%, 0%);
}

h1, h3, p{
    text-align:center;

}

/* ----- Nav ----- */

nav li{
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    border-radius: 8px;
    padding: 5px;
    background-color: hsl(216, 100%, 50%);
    text-shadow: 2px 2px black;
    color: hsl(0, 0%, 100%);
}

nav{
    text-align: center;
    font-size: 2rem;
}

nav li:hover{
    cursor: pointer;
    background-color: hsl(216, 74%, 67%);
}
nav li:active{
    cursor: pointer;
    background-color: hsl(216, 74%, 67%);
    color: white;
}



/* ----- End of Nav -----*/


textarea{
    width: 500px;
    
}

input{
    font-family: 'Quicksand', sans-serif;

}

h3{
    font-family: 'Acme', sans-serif;
    font-size: 2rem;
    text-align: center;
    text-decoration:underline;

}

.client-data{
    padding-bottom: 30px;
}

.client-data label, textarea{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-evenly;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.client-table{
    
    margin-left: auto;
    margin-right: auto;
    
}



.pt-packages{
    padding: 10px;
}


.client-data, .pt-packages{
    background-color: hsl(240, 84%, 73%, 0.7);
    border-radius: 30px; 
    margin-bottom: 30px;
    
}



.buttons{
    display: flex;
    justify-content: center;
    
    padding: 5px;
    
}



#submitbtn{

    align-self: center;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    padding: 2;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(70, 135, 240, 0.806);
    color: white;
    border: none;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.632); 
    text-shadow: 2px 2px black;

}

#resetbtn{
    outline: none;
    font-size: 20px;
    font-weight: 600;
    padding: 2;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(70, 135, 240, 0.806);
    border: none;
    color: white;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.632);
    text-shadow: 2px 2px black;

}

/* Popup styling start */

.popup img{
    width: 150px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgb(255, 255, 255, 0.3);
}

.popup{
    width: 400px;
    background: white;
    border-radius: 6px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: black;
    visibility: hidden;
    transition: transform 0.5s, top 0.5s

}

.display-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup h2{
   font-size: 38px;
   font-weight: 500;
   margin: 30px 0 10px; 
}

.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px;
    background-color: rgb(33, 165, 33);
    color: white;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 7px 5px rgb(255, 255, 255, 0.3);
}

/* Popup styling end*/













/* ----- Fonts ----- */
@font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/alegreyasanssc/v23/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1DspC4iNhMKB8O-8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/quicksand/v31/6xKtdSZaM9iE8KbpRA_hK1QNYuDyPw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Acme';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/acme/v25/RrQfboBx-C5_XxrBbk_m3Lg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/* ----- End of Fonts ----- */
  